@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* common utilities */

body{
    margin: 0%;
    font-family: 'Poppins' !important; 
}
button{
    background-color: #E76F51;
}
.header-bg-info{
    background-color:  #264653;
}
.feature-img{
    filter: grayscale(100%);
}

.text-color{
    color: #E76F51;
}
.bg-color{
    background-color: #E76F51;
}

.footer-bg{
    background-color: #0B0D17;
}